@import "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

img{
    margin: auto;
}
#iphone{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 30vh;
}
li{
    flex-direction: row-reverse;
    margin: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;

}
.icones{
    width: 70px;
    border-radius: 50%;

}

div{
    margin: auto;
}